# This is Git's per-user configuration file.
[user]
	name = Patrick Maciel
	email = patrickmaciel.info@gmail.com
[core]
	editor = nvim
	autocrlf = input
	filemode = false
[diff]
	tool = bc3
[push]
	default = current
[pager]
	branch = false
	tag = false
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgs = git log --stat
